NEXT_PUBLIC_WEBSITE_URL="https://example.com"

NEXT_PUBLIC_TURNSTILE_SITE_KEY="turnstile-public-key"
TURNSTILE_SECRET_KEY="turnstile-secret-key"

SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_USER="user"
SMTP_PASS="password"

FROM_EMAIL="sender@example.com"
TO_EMAIL="recipient@example.com"